@import 'tailwindcss';
@import 'tw-animate-css';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-brand-main: #b80000; /* 모든 진한 빨강색 */
  --color-brand-second: #ff7979; /* 오늘의 문제/문장, 플로팅 */
  --color-brand-third: #ff5656; /* 실시간 채팅 my버블 */
  --color-brand-side: #ff9595; /* 채팅방 사이드 목록 */
  --color-brand-light: #ffecec; /* 모든 옅은 분홍색 */
  --color-brand-violet: #8a38f5; /* 어드민 */
  --color-brand-violet-light: #f0e5ff; /* 어드민 뱃지 배경 */
  --color-brand-green: #34c759; /* 사용자, 모든 초록색 */
  --color-brand-green-light: #e5ffe9; /* 사용자 뱃지 배경 */
  --color-brand-blue: #0066ff; /* 강사, 모든 진한 파란색*/
  --color-brand-blue-sub: #def0ff; /* 버튼 텍스트 */
  --color-brand-blue-light: #eff8ff; /* 강사 뱃지 배경, 버튼 */
  --color-brand-black: #000000; /* 모든 검은색 */
  --color-brand-white: #ffffff; /* 모든 하얀색 */
  --color-brand-gray-100: #f1f0f0; /* 모든 배경 회색 */
  --color-brand-gray-200: #ccc8c8; /* 가장 연한 텍스트 */
  --color-brand-gray-300: #a9a0a0; /* 연한 텍스트 */
  --color-brand-gray-400: #887979; /* 덜 진한 텍스트 */
  --color-brand-gray-500: #625757; /* 가장 진한 텍스트 */

  --color-brand-error: #ff383c; /* 토스트 에러 아이콘, 오답 텍스트 */
  --color-brand-warning: oklch(0.769 0.188 70.08); /* 토스트 경고 아이콘 */

  --color-brand-kakao: #fee500; /* 카카오톡 버튼 배경 */
  --color-brand-login-text: #1e1919; /* 로그인 링크 텍스트 */

  --radius-brand-sm: 8px;
  --radius-brand-md: 10px;
  --radius-brand-base: 12px; /* 기본 Radius */
  --radius-brand-lg: 14px;
  --radius-brand-xl: 16px;
  --radius-brand-2xl: 20px;
  --radius-brand-3xl: 24px;
  --radius-brand-4xl: 28px;

  --shadow-brand-sm: 0 0 6px rgba(0, 0, 0, 0.25);
  --shadow-brand-md: 0 0 10px rgba(0, 0, 0, 0.25);
  --shadow-brand-lg: 0 0 14px rgba(0, 0, 0, 0.25);

  --animate-shake: shake 0.2s ease-in-out 0s 2;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    75% {
      transform: translateX(4px);
    }
  }
}

:root {
  font-family: var(--font-pretendard), sans-serif;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
